<div class="container">
<form action="">
    <div class="mb-3">
        <label class="form-label" for="email">Email Address</label>
        <input type="email" class="form-control" name="email" placeholder="Please Enter Your Registered Mail Address">
    </div>
    <div class="mb-3">
        <label class="form-label" for="pass">Password</label>
         <input type="password" class="form-control" name="pass" placeholder="Enter Your Password">
    </div>
    <div class="mb-3">
        <h4>Or Login with</h4>
    </div>
    <div class="mb-3">
        <label class="form-label" for="mobile">Mobile Number</label>
        <input type="number" class="form-control" name="mobile" placeholder="Enter Registered Mobile Number">
    </div>
    <div class="mb-3">
        <button class="btn btn-primary">Send OTP</button>
    </div>
    <div class="mb-3">
        <label class="form-label" for="otp">OTP</label>
        <input type="number" class="form-control" name="otp" placeholder="Enter Your OTP">
    </div>

    <div>
        <button class="btn btn-primary m-3">Sign in</button>
        <button class="btn btn-danger m-3">Forget</button>
    </div>

</form>
</div>
