<div class="container">
  <form (ngSubmit)="onSubmit()" #forgotForm="ngForm">
    <div class="mb-3">
      <label class="form-label">Username</label>
      <input
        class="form-control"
        type="text"
        name="username"
        [(ngModel)]="username"
        required
        [class.invalid]="isSubmitted && !username"
      />
      <p *ngIf="isSubmitted && !username" class="error-text">Username is required</p>
    </div>

    <button class="btn btn-primary" type="submit">Send Reset Token</button>
  </form>
</div>
